.navbar {
  background-color: #fe4236;
}

.brand,
.list_item {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}

.brand,
.list_item:hover,
.brand,
.list_item:focus {
  color: #ffffff;
  background-size: 100% 2px;
}

.registro {
  margin-right: 5px;
}
