.formulario {
  text-align: center;
}

.form-group-custom {
  width: 20%;
  margin-left: 540px;
}

.text {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
}
