.home_bg {
  background-image: url("../assets/imagenBackHome.png");
  background-image: fixed;
  height: 93vh;
  background-size: cover;
  margin-left: 500px;
  max-width: 100%;
  max-height: 100%;
}

.home_bg_dos {
  background-color: #fe4236;
  background-repeat: no-repeat;
  max-width: 100%;
}

.texto {
  position: absolute;
  z-index: inherit;
  margin-left: 45px;
  margin-top: 100px;
  width: 30%;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;

  color: rgb(255, 255, 255);
}
