body,
html {
  height: 100%;
}
.bg {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).webp");
  background-image: fixed;
  height: 95vh;
  background-size: cover;
  background-attachment: fixed;
}
.size {
  padding: 45px;
}

.login_contenedor {
  position: relative;
  z-index: 1;
  margin-top: 10px;
  width: 390px;
}
