.navbar {
  background-color: #fe4236;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.barrita {
  background-color: #123ac8;
}

.contenedor_vista_perfiles {
  margin-left: 50px;
}

.brand,
.list_item {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}

.brand,
.list_item:hover,
.brand,
.list_item:focus {
  color: #ffffff;
  background-size: 100% 2px;
}

.registro {
  margin-right: 5px;
}

.usuario_navbar {
  margin-top: 5px;
  margin-right: 10px;
}

.navbar_admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
