.profile_bg {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).webp");
  background-image: fixed;
  height: fit-content;
  background-size: cover;
  background-attachment: fixed;
}

.grid {
  grid-template-rows: repeat(4, minmax(0, 1fr));
}

.envolvente {
  display: flex;
}

.texto_favoritos {
  text-align: center;
  text-decoration: underline;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  margin-top: 25px;
}

.caja_imagen {
  height: 218px;
  object-fit: cover;
}

.description_size {
  height: 110px;
}

.title_size {
  height: 70px;
}

.container_cards {
  justify-content: center;
}
