.imagenes {
  width: 100%;
}

.imagen_2 {
  margin-bottom: 35px;
  margin-left: 25px;
  margin-top: 35px;
}

.imagen_3 {
  margin-bottom: 35px;
  margin-left: 25px;
  margin-top: 30px;
}

.imagen_5 {
  margin-left: 25px;
}

.imagen_6 {
  margin-left: 25px;
}
