.imagenes {
  width: 100%;
}

.imagen_2 {
  margin-bottom: 35px;
  margin-left: 25px;
  margin-top: 35px;
}

.imagen_3 {
  margin-bottom: 35px;
  margin-left: 25px;
  margin-top: 30px;
}

.imagen_5 {
  margin-left: 25px;
}

.imagen_6 {
  margin-left: 25px;
}

.contenedor_texto {
  margin-left: 51px;
}

.boton {
  margin-left: 51px;
}

.favoritos {
  margin-left: 51px;
  margin-bottom: 5px;
}

.container-flex {
  width: 100%;
  display: block;
}

.div-size {
  width: 50%;
  flex-direction: row;
}
