.register_bg {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).webp");
  background-image: fixed;
  height: 100vh;
  background-size: cover;
}

.size_2 {
  padding: 25.5px;
  width: 25%;
}

.FormContainer {
  margin-top: 50px;
}

.register_contenedor {
  width: 333px;
}
